{{~fetch '/projects/get/by/farm' | as 'res' }}

<div class="modal modal--closed flex--a-start flex--j-center" id="new-project-manager-modal">
    <form class="modal__main card" {{submit "User.addProjectManager(event)"}}>
        <div class="card__header flex flex--a-center flex--j-space-between">
            <div>
                <h1>New project manager.</h1>
                <p>Add a project manager</p>
            </div>
            <svg class="image--icon" {{click "Util.closeModal('new-project-manager')"}}>
                <use href="#cross"></use>
            </svg>
        </div>
        <div class="card__body">
            <div class="error-container hide" id="project-manager-error">
                <p></p>
            </div>

            <div class="input margin--top-1">
                <input type="text" id="user-full-name" placeholder="Full name">
            </div>
            <div class="input margin--top-1">
                <input type="email" id="user-email" placeholder="Email address">
            </div>
            <div class="input margin--top-1">
                <p>Projects</p>
                <select id="project">
                    <option value="select">Select</option>
                    {{#each res.projects}}
                        <ul class="table__body__row flex">
                            <option value="{{this.id}}">{{this.name}}</option>
                        </ul>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="card__footer">
            <button class="btn btn--primary">Add project manager</button>
            <button type="button" class="btn" {{click "Util.closeModal('new-project-manager')"}}>Cancel</button>
        </div>
    </form>
</div>