<div class="sidenav">
    <div class="sidenav__header flex flex--a-center">
        <img src="/assets/logo/bird.svg">
        <h4>FARM<span>MANAGER</span></h4>
    </div>
    <nav class="sidenav__body">
        <ul class="sidenav__body__ul">
            <a href="/project-managers" class="sidenav__body__ul__li flex" {{click "Util.nav(event)"}}>
                <svg class="image--icon margin--right-1">
                    <use href="#user-group"></use>
                </svg>
                <span>Project managers</span>
            </a>
            <a href="/department-managers" class="sidenav__body__ul__li flex" {{click "Util.nav(event)"}}>
                <svg class="image--icon margin--right-1">
                    <use href="#user-group"></use>
                </svg>
                <span>Department managers</span>
            </a>
            <a href="/employees" class="sidenav__body__ul__li flex" {{click "Util.nav(event)"}}>
                <svg class="image--icon margin--right-1">
                    <use href="#user-group"></use>
                </svg>
                <span>Employees</span>
            </a>
            <a href="/announcements"  class="sidenav__body__ul__li flex" {{click "Util.nav(event)"}}>
                <svg class="image--icon margin--right-1">
                    <use href="#message"></use>
                </svg>
                <span>Announcements</span>
            </a>
            <a href="/task-manager" class="sidenav__body__ul__li flex" {{click "Util.nav(event)"}}>
                <svg class="image--icon margin--right-1">
                    <use href="#notebook"></use>
                </svg>
                <span>Tasks</span>
            </a>
            <li class="sidenav__body__ul__li flex" style="cursor: pointer;" {{click 'Util.signOut()'}}>
                <svg class="image--icon margin--right-1">
                    <use href="#sign-off"></use>
                </svg>
                <span>Sign out</span>
            </li>
        </ul>
    </nav>
</div>