{{~scope 'projects'}}

{{~fetch '/projects/get/by/farm' | as 'res' }}
{{~ json res.projects | as 'projectss'}}

<div class="container__main__center">
    <h4 class="container__main__center__title">Projects</h4>
    <p {{click "Project.downloadCSV(event)" }} data-projects='{{projectss}}' style="cursor: pointer;">Download CSV report</p>


    <div class="card table">
        <div class="table__header">
            <ul class="table__header__row flex">
                <li class="table__header__row__item short">#</li>
                <li class="table__header__row__item">Project name</li>
                <li class="table__header__row__item">Project objective</li>
                <li class="table__header__row__item">Progress (status)</li>
                <li class="table__header__row__item">Added on</li>
                <li class="table__header__row__item">...</li>
            </ul>
        </div>
        <div class="table__body">
            {{#each res.projects}}
                <ul class="table__body__row flex">
                    <li class="table__body__row__item short">{{index}}</li>
                    <li class="table__body__row__item">{{this.name}}</li>
                    <li class="table__body__row__item">{{this.objective}}</li>
                    <li class="table__body__row__item">{{this.status}}</li>
                    <li class="table__body__row__item">{{datetime this.createdOn}}</li>
                    <li style="cursor: pointer;" class="table__body__row__item" {{ click "Project.viewGantt('<<this.id>>')" }}>view gantt chart</li>
                </ul>
            {{/each}}
        </div>
    </div>

    {{#same userDetails.role 'Owner'}}
        <p class="margin--top-2 flex" style="cursor: pointer;" {{click "Util.openModal('new-project')" }}>
            <svg class="image--icon margin--right-1">
                <use href="#add"></use>
            </svg>
            <span>Add new project</span>
        </p>
    {{/same}}

    <a download id="download-anchor"></a>

    {{component 'modals/project'}}
    {{component 'modals/gantt'}}
</div>