{{~scope 'project.managers'}}

{{~fetch '/users/get/project-managers/by/farm' | as 'res' }}

<div class="container__main__center">
    <h4 class="container__main__center__title">Project managers</h4>

    <div class="card table">
        <div class="table__header">
            <ul class="table__header__row flex">
                <li class="table__header__row__item short">#</li>
                <li class="table__header__row__item">Full name</li>
                <li class="table__header__row__item">Email address</li>
                <li class="table__header__row__item">Role</li>
                <li class="table__header__row__item">Added on</li>
                {{#same userDetails.role 'Owner'}}
                    <li class="table__header__row__item">...</li>
                {{/same}}
            </ul>
        </div>
        <div class="table__body">
            {{#each res.managers}}
                <ul class="table__body__row flex">
                    <li class="table__body__row__item short">{{index}}</li>
                    <li class="table__body__row__item">{{this.fullname}}</li>
                    <li class="table__body__row__item">{{this.email}}</li>
                    <li class="table__body__row__item">{{this.role}}</li>
                    <li class="table__body__row__item">{{datetime this.createdOn}}</li>
                    {{#same userDetails.role 'Owner'}}
                        <li class="table__body__row__item" style="cursor: pointer;" {{click "User.removeUser('<<this.id>>')"}}>Remove</li>
                    {{/same}}
                </ul>
            {{/each}}
        </div>
    </div>

    {{#same userDetails.role 'Owner'}}
        <p class="margin--top-2 flex" style="cursor: pointer;" {{click "Util.openModal('new-project-manager')"}}>
            <svg class="image--icon margin--right-1">
                <use href="#add"></use>
            </svg>
            <span>Add project manager</span>
        </p>
    {{/same}}

    {{component 'modals/project-manager'}}
</div>